@(field: forms.DateTimeRangeField,
        opp: Opportunity,
        questions: Map[String, Question],
        answers: Map[String, String],
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])


@errors = @{
    errs.filter(p => p.path == field.name)
}

@errors.map { e =>
    <span class="error-message" role="alert">@e.err</span>
}

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}


@main("RIFS - Edit Deadline", displayUserName = Some("Portfolio Peter")) {

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                @Opportunity deadlines
            </h1>

            <form method="POST" action="@controllers.routes.OpportunityController.saveDeadlines(opp.id)">
                @renderers.dateField(field.startDateField, questions, answers, errs)

                @if(!field.isEndDateMandatory) {
                    <input type="radio" name="endDateProvided" value="yes">Yes
                    <input type="radio" name="endDateProvided" value="no" checked>No
                }

                @renderers.dateField(field.endDateField, questions, answers, errs)

                <label for="complete-checkbox" class="form-checkbox font-normal" style="width: 16em">
                    <input id="complete-checkbox" type="checkbox" name="_complete_checkbox"/>
                    Mark question as complete
                </label>

                <div class="rifs-form-buttons">
                    <input type="submit" name="@Save.name" class="button button--start" value="Save and continue">
                    <input type="submit" name="@Preview.name" class="button--link-style" value="Preview this page"/>
                </div>
            </form>
        </div>
    </div>

}