@(field: forms.CurrencyField,
        opp: Opportunity,
        backUrl: String,
        questions: Map[String, Question],
        answers: play.api.libs.json.JsObject,
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])


@errors = @{
    errs.filter(p => p.path == field.name)
}

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main("RIFS - Edit Grant Value" , backLink=Some(BackLink("Opportunity template",controllers.manage.routes.OpportunityController.showOverviewPage(opp.id).url)), displayUserName = Some("Portfolio Peter")) {

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                Grant value
            </h1>

            <form method="POST" action="@controllers.manage.routes.OpportunityController.saveGrantValue(opp.id)">

                @if(errors.nonEmpty) {
                <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

                    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                        The information you entered is not valid
                    </h1>

                    <p>
                        Please correct the problems indicated below.
                    </p>
                </div>
                }

                @field.renderFormInput(questions, answers, errs, hints)

                <div class="rifs-form-buttons">
                    <input type="submit" name="@Save.name" class="button button--start" value="Save">
                    <input type="submit" name="@Preview.name" class="button--link-style" value="Preview this page"/>
                </div>
            </form>
        </div>

        <div id="support-column" class="column-third">
            @partials.editOpportunitySidebar(backUrl, 6, 0)
        </div>
    </div>


}