@(field: forms.DateTimeRangeField,
        opp: Opportunity,
        questions: Map[String, Question],
        answers: play.api.libs.json.JsObject,
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])


@errors = @{
    errs.filter(p => p.path == field.name)
}

@errors.map { e =>
    <span class="error-message" role="alert">@e.err</span>
}

@import views.html.partials._

@main("Edit Deadline - RIFS", displayUserName = Some("Portfolio Peter")) {

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                @Opportunity deadlines
            </h1>

            <form method="POST" action="@controllers.manage.routes.OpportunityController.saveDeadlines(opp.id)"
            novalidate="novalidate">
                @field.renderFormInput(questions, answers, errs, hints)

                <div class="rifs-form-buttons">
                    <input type="submit" name="@Save.name" class="button button--start" value="Save">
                    <a class="button--link-style" href=@controllers.manage.routes.OpportunityController.previewDeadlines(opp.id)>Preview this page</a>
                </div>
            </form>
        </div>

        <div id="support-column" class="column-third">
            <hr class="hr-blue">
            <h2 class="heading-medium no-top-margin">Support</h2>
            <ul class="list spacious">
                <li>
                    <a href="@controllers.manage.routes.OpportunityController.showPMGuidancePage(controllers.manage.routes.OpportunityController.editDeadlines(opp.id).toString)">
                        Guidance on opportunity set-up</a>
                </li>
            </ul>
        </div>
    </div>

}