@(
backUrl: String
)


@main(s"Guidance on grants - RIFS", displayUserName=Some("Portfolio Manager"),
backLink=Some(BackLink("Back", backUrl))) {
<section>
    <h1 class="heading-xlarge">Guidance for portfolio managers </h1>
    <div class="text">
        <p>You have 2 options for starting a new opportunity:
        </p>
        <ul class="list list-bullet">
            <li>
                Reuse a template from a previous opportunity. Choose from a library of templates, then update the details as required.
                This may be the best option if your opportunity recurs frequently and only needs some updating.
            </li>
            <li>
                Create an opportunity. Choose from a selection of options to tailor the opportunity. You can configure your requirements
                using subsets of options within each section. Depending on the grant type you choose, some of these options may be
                pre-configured. This may be the best option if you’re starting from scratch and need a new template.
            </li>
        </ul>
        <p>
            Once you start configuring your opportunity, you can save your progress at each stage. You can also return to a completed section
            and change it, right up to the point when you send it for approval.
        </p>
        <p>
            Some of these sections can be opened for editing, for example the eligibility and assessment criteria in the ‘Opportunity set-up’
            section.
        </p>
        <p>
            There’s no editing option for applicant questions because we want these to be consistent across opportunities. However,
            if you need to change this text, please contact your content champion.
        </p>

    </div>
</section>
}
