@(
        field: forms.DateTimeRangeField,
        opp: Opportunity,
        questions: Map[String, Question],
        answers: play.api.libs.json.JsObject,
        backUrl: Option[String]
)

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"${opp.title} - RIFS", backLink = Some(BackLink("Opportunity template", controllers.manage.routes.OpportunityController.showOverviewPage(opp.id).url)), displayUserName=Some("Portfolio Peter")) {
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                @Opportunity deadlines
            </h1>

            <form method="POST" action="@controllers.manage.routes.OpportunityController.saveDeadlines(opp.id)">
                @field.renderPreview(questions, answers)

                <div class="rifs-form-buttons">
                    <a href="@backUrl.getOrElse(controllers.manage.routes.OpportunityController.showOverviewPage(opp.id))" class="button">
                        Close</a>
                </div>
            </form>
        </div>
    </div>
}
