@(
  opp: Opportunity,
  backUrl: Option[String]
)

@import views.html.helpers._

@main(s"${opp.title} - RIFS", backLink=Some(BackLink("Opportunity template",controllers.manage.routes.OpportunityController.showOverviewPage(opp.id).url)), displayUserName=Some("Portfolio Peter")) {
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                Opportunity title
            </h1>

            <p class="heading-secondary">@opp.title</p>
            <div class="rifs-form-buttons">
                <a href="@backUrl.getOrElse(controllers.manage.routes.OpportunityController.showOverviewPage(opp.id))" class="button">
                   Close</a>
            </div>

        </div>
    </div>
}
