@(backUrl:String, opportunity: Opportunity, sectionNumber: OppSectionNumber, appForm: ApplicationForm)

@import helpers._
@import views.html.manage.opportunityPreview

@sectionLink(title: String, sectionNum: OppSectionNumber) = {
    <span class="part-number"> @sectionNum.num. </span>
        @if(sectionNum == sectionNumber) {
            @title
        } else {
            <a href="@controllers.manage.routes.OpportunityController.showOpportunityPreview(opportunity.id, Some(sectionNum))">@title</a>
        }
    }

@titleCols() = @{
    val titles = opportunity.description.sortBy(_.sectionNumber).map(s => (s.title, s.sectionNumber)).zipWithIndex
    val midpoint: Int = Math.round(titles.length / 2.0).toInt
    val (leftCols, b) = titles.splitAt(midpoint)
    val rightCols = b.map(Some(_)) :+ None
    leftCols.zip(rightCols)
}

@nextSection = @{
    sectionNumber.next.flatMap(n => opportunity.description.find(_.sectionNumber == n))
}

@prevSection = @{
    sectionNumber.prev.flatMap(n => opportunity.description.find(_.sectionNumber == n))
}

@currentSection = @{
    opportunity.description.find(_.sectionNumber == sectionNumber)
}

@main(s"Opportunity: ${opportunity.title} - RIFS", backLink=Some(BackLink("Return to opportunity library", controllers.manage.routes.OpportunityController.showOpportunityLibrary().url)), displayUserName=Some("Portfolio Peter")) {

    <div class="rifs-heading-panel">
        <p>This is an applicant preview of  <a href="@controllers.manage.routes.OpportunityController.showOverviewPage(opportunity.id).url">@formatId(opportunity.id.id)</a></p>
    </div>
    @opportunityPreview(backUrl, opportunity, sectionNumber, appForm)
}