@(
        backUrl:String,
        opp: Opportunity,
        formSection: ApplicationFormSection
)
@import views.html.partials._


@main(s"${formSection.title} - RIFS", backLink = Some(BackLink("Opportunity Template", controllers.manage.routes.OpportunityController.showOverviewPage(opp.id).url)), displayUserName=Some("Portfolio Peter")) {

    <div class="panel rifs-heading-panel">
        <p>
            Applicant view: @opp.title
        </p>
    </div>


    <div class="grid-row">

        <div class="column-two-thirds">

            <section>
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                    @formSection.title
                </h1>

                @formSection.fields.map(_.renderFormInput(formSection.questionMap, play.api.libs.json.JsObject(Seq()), List(), List()))
                <div class="rifs-form-buttons">
                    <a href="@controllers.manage.routes.OpportunityController.showOverviewPage(opp.id)#opportunity-questions" class="button">
                        Continue</a>
                </div>
            </section>

        </div>

            <!-- sidebar -->
        <div id="support-column" class="column-third">
            <aside role="complementary">
                <hr class="hr-blue">
                <h3 class="heading-medium">Support</h3>
                <ul class="list spacious">

                    <li>
                        <a href="@controllers.manage.routes.OpportunityController.showPMGuidancePage(backUrl)">
                            Guidance for portfolio managers</a>
                    </li>
                    <li>
                        <a href=@controllers.manage.routes.OpportunityController.showOpportunityPreview(opp.id, None).url>
                            Opportunity details</a>
                    </li>


                </ul>
            </aside>
        </div>

    </div>
}
