@(
  opp: Opportunity
)

@formatId(id: Long) = @{
    f"RIFS $id%04d"
}

@main(s"${opp.title} - RIFS", backLink=Some(BackLink("Opportunity template",controllers.routes.OpportunityController.showOverviewPage(opp.id).url)), displayUserName=Some("Portfolio Peter")) {
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                 Grant Value
            </h1>

            <p class="heading-secondary">&pound;@("%,.0f".format(opp.value.amount)) @opp.value.unit</p>
            <div class="rifs-form-buttons">
                <a href="@controllers.routes.OpportunityController.showOverviewPage(opp.id)" class="button">
                   Continue</a>
            </div>

        </div>
    </div>
}
