@(
  opp: Opportunity,
  backUrl: Option[String] = None
)


@import views.html.helpers._

@main(s"${opp.title} - RIFS", backLink=Some(BackLink("Opportunity template",controllers.manage.routes.OpportunityController.showOverviewPage(opp.id).url)), displayUserName=Some("Portfolio Peter")) {
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                 Grant value
            </h1>

            <dt class="heading-small">Value</dt>
            <p class="heading-secondary"> Up to &pound;@("%,.0f".format(opp.value.amount)) per event</p>
            <div class="rifs-form-buttons">
                <a href="@backUrl.getOrElse(controllers.manage.routes.OpportunityController.showOverviewPage(opp.id))" class="button">
                   Continue</a>
            </div>

        </div>
    </div>
}
