@(
field: forms.DateTimeRangeField,
opp: Opportunity,
questions: Map[String, Question])

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"${opp.title} - RIFS", backLink=Some(BackLink("Opportunity template",controllers.routes.OpportunityController.showOverviewPage(opp.id).url))) {
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
            @Opportunity deadlines
        </h1>

        <form method="POST" action="@controllers.routes.OpportunityController.saveDeadlines(opp.id)">
            @field.renderFormInput(questions, play.api.libs.json.JsObject(Seq()), List(), List())

            <div class="rifs-form-buttons">
                <a href="@controllers.routes.OpportunityController.showOverviewPage(opp.id)" class="button">
                    Continue</a>
            </div>
        </form>
    </div>
</div>
}
