@(
  opp: Opportunity
)

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"${opp.title} - RIFS", backLink=Some(BackLink("Opportunity template",controllers.routes.OpportunityController.showOverviewPage(opp.id).url))) {
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opp.id.id): @opp.title</span>
                Opportunity description
            </h1>
            @opp.description.map { des =>
            <p class="heading-secondary">@des.text</p>
            }

            <div class="rifs-form-buttons">
                <a href="@controllers.routes.OpportunityController.showOverviewPage(opp.id)" class="button">
                   Continue</a>
            </div>

        </div>
    </div>
}
