@(
        app: ApplicationForm,
        overview: ApplicationOverview,
        opportunity: Opportunity,
        sections: Seq[ApplicationSection],
        title: Option[String],
        answers: Map[Int, Seq[forms.Field]]
)

    @import models._
    @import partials._

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"Opportunity ${opportunity.id.id}") {
    <div class="grid-row">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
            @title
        </h1>

        <article>
            @for(section <- sections) {
                @app.sections.find(_.sectionNumber == section.sectionNumber).map { s =>
                    @appPreview(s, answers.getOrElse(section.sectionNumber, Seq()), JsonHelpers.flatten("", section.answers))
                    <br/>
                }
            }

            <p class="rifs-form-buttons">
                <a href="@controllers.routes.ApplicationController.show(overview.id)" class="button" onclick="self.close()">
                    Close</a>
            </p>
        </article>

    </div>

}