@import models._
@import partials._
@import partials._
@(
  app: ApplicationForm,
  overview:ApplicationOverview,
  opportunity:Opportunity,
  sections: Seq[ApplicationSection],
  fieldsset: Map[Int,Seq[forms.Field]]
)

@sectionLink(title: String, sectionNum: Int) = {
<span class="part-number">@sectionNum.</span>
<a href="@controllers.routes.ApplicationController.showSectionForm(overview.id, sectionNum)">@title</a>
}

@titleCols() = @{
val titles = app.sections.sortBy(_.sectionNumber).map(s => (s.title, s.sectionNumber))
val midpoint: Int = Math.round(titles.length / 2.0).toInt
val (leftCols, b) = titles.splitAt(midpoint)
val rightCols = b.map(Some(_)) :+ None
leftCols.zip(rightCols)
}

@formatId(id: Long) = @{
f"RIFS$id%05d"
}

@main(s"Opportunity ${opportunity.id.id}") {
<div class="grid-row">
    <div class="column-two-thirds">

        <div class="breadcrumbs">
            <ol>
                <li><a href="@controllers.routes.ApplicationController.show(overview.id)">&lt; Return to application overview</a></li>

            </ol>
        </div>

        <h1 class="heading-xlarge">
            <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
        </h1>

        <header class="page-header">
            <h1 class="heading-xlarge">
                @JsonHelpers.flatten("", (sections.head).answers).get(fieldsset(1).head.name)
            </h1>
        </header>

        <aside>
            <nav role="navigation" class="contain-floats page-navigation" aria-label="Navigation">
                <ol>
                    @titleCols.map { case (col1, col2) =>
                    <li>
                        @sectionLink(col1._1, col1._2)
                    </li>
                    }
                </ol>
                <ol>
                    @titleCols.map { case (col1, col2) =>
                    <li>
                        @col2.map { t => @sectionLink(t._1, t._2) }.getOrElse("")
                    </li>
                    }
                </ol>
            </nav>
        </aside>

        @for(section <- sections){
            @appPreview(
                app.sections.find(_.sectionNumber == section.sectionNumber).get,
                fieldsset(section.sectionNumber),
                JsonHelpers.flatten("", section.answers)
            )
        }

    </div>

    <div class="column-third">
        @sidebar(overview, app)
    </div>

</div>

}