@(
        app: ApplicationDetail,
        sections: Seq[ApplicationSection],
        title: Option[String],
        answers: Map[Int, Seq[forms.Field]]
)

@import models._
@import partials._


@sectionLink(title: String, sectionNum: Int) = {
    <span class="part-number">@sectionNum. </span>
    <a href="@controllers.routes.ApplicationController.showSectionForm(app.id, sectionNum)">@title</a>
}

@titleCols() = @{
    val titles = app.applicationForm.sections.sortBy(_.sectionNumber).map(s => (s.title, s.sectionNumber))
    val midpoint: Int = Math.round(titles.length / 2.0).toInt
    val (leftCols, b) = titles.splitAt(midpoint)
    val rightCols = b.map(Some(_)) :+ None
    leftCols.zip(rightCols)
}

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"Opportunity ${app.opportunity.title} - RIFS", backLink=Some(BackLink("Return to application overview",controllers.routes.ApplicationController.show(app.id).url))) {
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(app.opportunity.id.id): @app.opportunity.title</span>
               <div class="no-print"> @title </div>
            </h1>

            <aside>
                <nav role="navigation" class="contain-floats page-navigation" aria-label="Navigation">
                    <ol>
                    @titleCols.map { case (col1, col2) =>
                    <li>
                        @sectionLink(col1._1, col1._2)
                    </li>
                    }
                    </ol>
                    <ol>
                    @titleCols.map { case (col1, col2) =>
                    <li>
                        @col2.map { t => @sectionLink(t._1, t._2) }.getOrElse("")
                    </li>
                    }
                    </ol>
                </nav>
            </aside>

            <div class="panel rifs-panel rifs-border-narrow">
                <aside role="complementary" class="notice">
                    <div>
                        <h2 class="heading-small">Review your application before submitting</h2>
                        <p class="bold-small print-preview-button-container">
                            <script>
                                document.write('<button class="as-link" id="print" onclick="window.print();">Print Preview</button>');
                            </script>
                        </p>
                    </div>

                    <div class="rifs-form-buttons">
                        <p>
                            <a href="@controllers.routes.ApplicationController.show(app.id)" class="button">
                                Close
                            </a>
                        </p>
                    </div>

                </aside>
            </div>

            @appPreview(app, sections, answers)

        </div>

        <div id="support-column" class="column-third">
         @sidebar(app.opportunity.id, app.applicationForm.sections.length, app.sections.count(_.isComplete))
        </div>

    </div>

}