@(
        appOverview: ApplicationOverview,
        appForm: ApplicationForm,
        formSection: ApplicationFormSection,
        opportunity: Opportunity,
        fields: Seq[forms.Field],
        questions: Map[String, Question],
        answers: play.api.libs.json.JsObject,
        errs: List[forms.validation.FieldError],
        hints: List[forms.validation.FieldHint],
        cancelLink: String,
        itemNumber: Option[Int]
)
    @import partials._


@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@createOrSave = @{
    itemNumber match {
        case Some(n) => controllers.routes.CostController.saveItem(appOverview.id, formSection.sectionNumber, n)
        case None => controllers.routes.CostController.createItem(appOverview.id, formSection.sectionNumber)
    }
}

@main(formSection.title, backLink=Some(BackLink("Return to application overview",controllers.routes.ApplicationController.show(appOverview.id).url))) {
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
                @formSection.title
            </h1>

            <form method="POST" action="@createOrSave">
                @if(errs.nonEmpty) {
                    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                        <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                            The information you entered is not valid
                        </h1>
                        <p>Please correct the problems indicated below.</p>
                    </div>
                }
                <fieldset>
                    @itemNumber.map { i => <input type="hidden" name="itemNumber" value="@i"> }
                    @fields.map(_.renderFormInput(appOverview, formSection, questions, answers, errs, hints))
                </fieldset>
                <div class="rifs-form-buttons">
                    <input type="submit" name="@SaveItem.name" class="button" value="Save item">
                    <a href="@cancelLink" class="button--link-style">Cancel</a>
                </div>
            </form>
        </div>
        <div id="support-column" class="column-third">
        @sidebar(appOverview, appForm)
        </div>
    </div>
}