@(
        appOverview: ApplicationOverview,
        appForm: ApplicationForm,
        section: Option[ApplicationSection],
        formSection: ApplicationFormSection,
        opportunity: Opportunity,
        items: List[forms.validation.CostItemValues],
        questions: Map[String, Question]
)

    @import partials._

    @import scala.util.Try

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(formSection.title) {
    <div id="global-header-status" class="contain-floats">
        <div class="float-right">
            <span>Experienced Eric</span>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="breadcrumbs">
                <ol>
                    <li><a href="@controllers.routes.ApplicationController.show(appOverview.id)">&lt; Return to application overview</a></li>
                </ol>
            </div>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
                @formSection.title
            </h1>
            @questions.get("item").map { q => <p class="question text">@q.text</p>
                <p class="text">@q.longDescription</p>
                <details>
                    <summary role="button"><span class="summary">Help with this section</span></summary>
                    <div class="panel panel-border-narrow">@for(line <- q.helpText.getOrElse("").split("\n")) {
                        <p>@line</p>
                    }</div>
                </details>
            }
            <table>
                <thead>
                    <th>Item</th>
                    <th>Cost &pound;</th>
                    <th></th>
                </thead>
                <tbody>
                @items.map { item =>
                    <tr>
                        <td><a href="">@item.itemName</a></td>
                        <td>@item.cost</td>
                        <td><a href="@controllers.routes.CostController.deleteItem(appOverview.id, formSection.sectionNumber, item.itemNumber.getOrElse(-1))">
                            Delete</a></td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total requested &pound;</td>
                        <td>@items.map(i => Try(i.cost.map(_.toDouble).getOrElse(0.0)).toOption.getOrElse(0.0)).sum</td>
                    </tr>
                </tfoot>
            </table>
            <a href="@controllers.routes.CostController.addItem(appOverview.id, formSection.sectionNumber)">Add item</a>
            <form method="POST" action="@controllers.routes.CostController.post(appOverview.id, formSection.sectionNumber)">
                <fieldset>
                @section.flatMap(_.completedAtText).getOrElse(
                        <label for="complete-checkbox" class="form-checkbox font-normal" style="width: 16em">
                            <input id="complete-checkbox" type="checkbox" name="_complete_checkbox"/>
                        Mark question as complete
                        </label>
                )

                </fieldset>
                <div class="rifs-form-buttons">
                    <input type="submit" name="@Save.name" class="button button--start" value="Save and continue">
                    <input type="submit" name="@Preview.name" class="button--link-style" value="Preview this page"/>
                </div>
            </form>
        </div>
    </div>


    <div class="column-third">
    @sidebar(appOverview, appForm)
    </div>
}