@(
        app: Application,
        section: Option[ApplicationSection],
        formSection: ApplicationFormSection,
        opportunity: Opportunity
        //fieldRules: Map[String, Seq[forms.FieldRule]]
        //errs: Map[String, cats.data.NonEmptyList[String]]
)

@import play.api.libs.json.JsString

@valueFor(key: String) = @{
    section.flatMap {
        _.answers.value.get(key).map {
            case JsString(s) => s
            case _ => ""
        }
    }
}

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"Event title") {
    <div class="grid-row">
        <a href="@controllers.routes.ApplicationController.show(app.id)">&lt; Return to application overview</a>
        <p></p>
        <h2>@formatId(opportunity.id.id): @opportunity.title</h2>

        <h1>@formSection.title</h1>

        <form method="POST" action="@controllers.routes.ApplicationController.showSectionForm(app.id, formSection.sectionNumber)">
            <fieldset>
                <p>@valueFor("title")</p>
            </fieldset>

            <div>
                <div name="_save_button" class="button-closed" >
                    <a href="@controllers.routes.ApplicationController.showSectionForm(app.id, formSection.sectionNumber)">Close
                    </a>
                </div>
                <a href="@controllers.routes.ApplicationController.showSectionForm(app.id, formSection.sectionNumber)">Edit this page</a>

            </div>
        </form>
    </div>
}