@(
        app: Application,
        section: Option[ApplicationSection],
        formSection: ApplicationFormSection,
        opportunity: Opportunity,
        fields: Seq[forms.Field],
        answers: Map[String, String]
)

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"Event title") {
    <div class="grid-row">
        <div class="column-full">
            <div class="breadcrumbs">
                <ol>
                    <li><a href="@controllers.routes.ApplicationController.show(app.id)">&lt; Return to application overview</a></li>
                </ol>
            </div>

            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
                @formSection.title
            </h1>

            @fields.map(_.renderPreview(answers))

            <div class="rifs-form-buttons">
                <a class="button secondary" href="@controllers.routes.ApplicationController.show(app.id)">Close</a>
                <a class="flat" href="@controllers.routes.ApplicationController.showSectionForm(app.id, formSection.sectionNumber)">Edit this page</a>
            </div>
        </div>
    </div>
}