@(
        appOverview: ApplicationOverview,
        section: Option[ApplicationSection],
        formSection: ApplicationFormSection,
        opportunity: Opportunity,
        fields: Seq[forms.Field],
        answers: play.api.libs.json.JsObject,
        closeButton: String,
        editButton: Option[String]
)

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(s"Event title", backLink=Some(BackLink("Return to application overview",controllers.routes.ApplicationController.show(appOverview.id).url))) {
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
                @formSection.title
            </h1>

            @fields.map(_.renderPreview(appOverview, formSection, answers))

            @if(editButton.isDefined){
                @section.flatMap(_.completedAtText)

                <div class="rifs-form-buttons">

                    <form method="POST"
                        action=@editButton
                        novalidate="novalidate">
                        <a class="button secondary" href=@closeButton>Close</a>
                        <input type="submit" class="button--link-style" value="Edit this page"/>
                    </form>
                </div>
            }

            @if(editButton.isEmpty){
                <div class="rifs-form-buttons">
                    <a class="button secondary" href="@closeButton">Close</a>
                </div>
            }

        </div>
    </div>
}
