@(
        app: Application,
        overview: ApplicationOverview,
        appForm: ApplicationForm,
        section: Option[ApplicationSection],
        formSection: ApplicationFormSection,
        opportunity: Opportunity,
        fields: Seq[forms.Field]
)
@import partials._

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@main(formSection.title) {
    <div id="global-header-status" class="contain-floats">
        <div class="float-right">
            <span>Experienced Eric</span>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="breadcrumbs">
                <ol>
                    <li><a href="@controllers.routes.ApplicationController.show(app.id)">&lt; Return to application overview</a></li>
                </ol>
            </div>
            <h1 class="heading-xlarge">
                <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
                @formSection.title
            </h1>

            <form method="POST" action="@controllers.routes.ApplicationController.postSection(app.id, formSection.sectionNumber)">
                <fieldset>
                    @fields.map(_.renderFormInput)

                    @section.flatMap(_.completedAtText).getOrElse(<input type="submit" name="_complete_button" class="button--link-style" value="Mark question as complete"/>)

                </fieldset>
                <div class="rifs-form-buttons">
                    <input type="submit" name="_save_button" class="button button--start" value="Save and continue">
                    <input type="submit" name="_preview_button" class="button--link-style" value="Preview this page"/>
                </div>
            </form>
        </div>
        <div class="column-third">
            @sidebar(overview, opportunity, appForm)
        </div>
    </div>
}