@import models._
@import partials._

@(app: ApplicationForm, overview:ApplicationOverview, opportunity:Opportunity, errs: Seq[forms.validation.SectionError])

@formatId(id: Long) = @{
f"RIFS$id%05d"
}

@errorClass = @{if(errs.nonEmpty) "error" else ""}

@main(s"Overview") {
    <div id="global-header-status" class="contain-floats">
        <div class="float-right">
            <span>Experienced Eric</span>
        </div>
    </div>

    <!-- main content -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="breadcrumbs">
                <ol>
                    <li><a href="@controllers.routes.OpportunityController.showOpportunity(opportunity.id, None)">&lt; Back</a></li>
                </ol>
            </div>

            @if(errs.nonEmpty) {
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
                All questions must be answered
                @errs.map { e =>
                <span class="error-message">
                    <a href="@controllers.routes.ApplicationController.showSectionForm(overview.id, e.formSection.sectionNumber)">
                        @e.formSection.title </a>
                    @e.msg</span>
                }
            </div>
            }

            <div>
                <div></div>
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">@formatId(opportunity.id.id): @opportunity.title</span>
                    Application overview
                </h1>
                <p>Complete all application sections before submitting to RIFS.</p>
            </div>

            <form method="POST"
                  action="@controllers.routes.ApplicationController.submit(overview.id)">
            <div>
                <table class="spacious">
                    <thead>
                    <tr>
                        <th scope="col">Event details</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @app.sections.sortBy(_.sectionNumber).map { s =>
                    <tr>
                        <td>
                            @s.sectionNumber. <a id="section-@s.sectionNumber-link" href="@controllers.routes.ApplicationController.showSectionForm(overview.id, s.sectionNumber)"> @s.title</a>
                        </td>
                        <td class="status-column">
                            @statusText(overview, s.sectionNumber)
                        </td>
                    </tr>
                    }
                    </tbody>
                </table>
                <p class="rifs-form-buttons">
                    <input type="submit" name="@Save.name" class="button button--start" value="Submit application to RIFS">
                    <a href="@controllers.routes.OpportunityController.wip(controllers.routes.ApplicationController.show(overview.id).url)" class="flat">Preview application</a>
                </p>
            </div>
        </div>
        </form>
        <div class="column-third">
            @sidebar(overview, app)
        </div>
    </div>
}