@(os: Seq[Opportunity])

@proposition = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <span class="header__menu__proposition-name">Research and Innovation Funding Service</span>

            </nav>
        </div>
    </div>
}

@main("Opportunity list", insideHeader = proposition) {
    <div>
        <h1>Open opportunities</h1>

        <h2>Links to all open opportunities in RIFS</h2>

        <div>
            <ul>
                @os.map { o =>
                    <li><a href="/opportunity/@o.id.id">@o.title</a></li>
                }
            </ul>
        </div>
    </div>
}