@import models._
@import partials._

@main(s"Overview - RIFS", backLink=Some(BackLink("Return to my dashboard", routes.StartPageController.startPage().url))) {
    <!-- main content -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <div>
                <h1 class="heading-xlarge">
                    <span class="heading-secondary">BANANA</span>
                    Application overview
                </h1>
                <p>Complete all application sections before submitting to RIFS.</p>
            </div>




        <div id="support-column" class="column-third">
            BEN !
        </div>
    </div></div>
}