@import models.Application

@(app: Application)

@main(s"Overview") {
    <div>
        <h1>Application Overview</h1>
        <h2>Complete all application sections before submitting to RIFS.</h2>
        <a href="@controllers.routes.OpportunityController.showOpportunity(app.opportunityId, None)">View opportunity</a>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Event details</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @app.sections.sortBy(_.sectionNumber).map { s =>
                    <tr>
                        <td>
                            <a href="@controllers.routes.OpportunityController.wip()">
                            @s.sectionNumber. @s.title
                            </a>
                        </td>
                        <td>Not started</td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@controllers.routes.OpportunityController.wip()" class="button"> Submit application to RIFS</a>
        <a href="@controllers.routes.OpportunityController.wip()">Preview application</a>
    </div>
}