@(opportunity: Opportunity, sectionNumber: Int)

@proposition = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <span class="header__menu__proposition-name">Research and Innovation Funding Service</span>

                <ul id="proposition-links" class="header__menu__proposition-links">
                    <li><a id="logOutNavHref" href="" data-journey-click="primary-navigation:Click:Sign out">
                        Sign out</a></li>
                </ul>
            </nav>
        </div>
    </div>
}

@sectionLink(title: String, sectionNum: Int) = @{
    if(sectionNum == sectionNumber) s"$sectionNum. $title"
    else {
        val link = controllers.routes.OpportunityController.showOpportunity(opportunity.id, Some(sectionNum))
        s"""$sectionNum. <a href="$link">$title</a>"""
    }
}

@titleCols() = @{
    val titles = opportunity.description.sortBy(_.sectionNumber).map(s => (s.title, s.sectionNumber))
    val midpoint: Int = Math.round(titles.length / 2.0).toInt
    val (leftCols, b) = titles.splitAt(midpoint)
    val rightCols = b.map(Some(_)) :+ None
    leftCols.zip(rightCols)
}

@nextSection = @{
    opportunity.description.find(_.sectionNumber == sectionNumber + 1)
}

@prevSection = @{
    opportunity.description.find(_.sectionNumber == sectionNumber - 1)
}

@currentSection = @{
    opportunity.description.find(_.sectionNumber == sectionNumber)
}

@main(s"Opportunity ${opportunity.id.id}", insideHeader = proposition) {
    <div class="grid-row">
        <h1>@opportunity.title</h1>

        <header class="page-header">
            <table>
                <tbody>
                @titleCols.map { case (col1, col2) =>
                <tr>
                    <td>@Html(sectionLink(col1._1, col1._2))</td>
                    <td>@col2.map { t => @Html(sectionLink(t._1, t._2)) }.getOrElse("")
                </td>
                </tr>
                }
                </tbody>
            </table>
        </header>

        <div>
            <h2>Apply for funding</h2>
            <a href="@controllers.routes.ApplicationController.show(opportunity.id)">Make an application</a>
            <p></p>
            <a href="@controllers.routes.OpportunityController.showGuidancePage()">General guidance on grants</a>
            <p></p>
        </div>

        @currentSection.map { s =>
            <article>
                <h1>@s.sectionNumber. @s.title</h1>
                @if(sectionNumber == 1) {
                    <div>
                        <h3>Start date</h3>
                        @opportunity.startDate
                        <h3>Days duration</h3>
                        @opportunity.duration.map(d => s"${d.duration} ${d.units}").getOrElse("Open indefinitely")
                        <h3>Opportunity value</h3>
                            &pound; @opportunity.value.amount @opportunity.value.unit
                    </div>
                    <p/>
                }
                @s.paragraphs.map { p =>
                    <p>@p</p>
                }
            </article>
            <footer>
                @prevSection.map { s =>
                    <div>Previous page<br>
                        <a href="@controllers.routes.OpportunityController.showOpportunity(opportunity.id, Some(s.sectionNumber))">
                        @s.title
                        </a></div>
                }
                @nextSection.map { s =>
                    <div>Next page<br>
                        <a href="@controllers.routes.OpportunityController.showOpportunity(opportunity.id, Some(s.sectionNumber))">
                        @s.title
                        </a></div>
                }
            </footer>
        }
    </div>
}