@(applicationId: ApplicationFormId, opportunity: Opportunity, sectionNumber: Int)

@sectionLink(title: String, sectionNum: Int) = @{
    if(sectionNum == sectionNumber) s"""<span class="part-number">$sectionNum.</span> $title"""
    else {
        val link = controllers.routes.OpportunityController.showOpportunity(opportunity.id, Some(sectionNum))
        s"""<span class="part-number">$sectionNum.</span> <a href="$link">$title</a>"""
    }
}

@titleCols() = @{
    val titles = opportunity.description.sortBy(_.sectionNumber).map(s => (s.title, s.sectionNumber))
    val midpoint: Int = Math.round(titles.length / 2.0).toInt
    val (leftCols, b) = titles.splitAt(midpoint)
    val rightCols = b.map(Some(_)) :+ None
    leftCols.zip(rightCols)
}

@nextSection = @{
    opportunity.description.find(_.sectionNumber == sectionNumber + 1)
}

@prevSection = @{
    opportunity.description.find(_.sectionNumber == sectionNumber - 1)
}

@currentSection = @{
    opportunity.description.find(_.sectionNumber == sectionNumber)
}

@main(s"Opportunity ${opportunity.id.id}") {
<div class="grid-row">

    <div class="column-full">
        <p>
            <a href="@controllers.routes.OpportunityController.showOpportunities()">&lt; Return to opportunity list</a>
        </p>
    </div>

    <div class="column-two-thirds">
        <header class="page-header">
            <h1 class="heading-xlarge">@opportunity.title</h1>
        </header>

        <aside>
            <nav role="navigation" class="contain-floats page-navigation">
                <ol>
                    @titleCols.map { case (col1, col2) =>
                        <li>
                            @Html(sectionLink(col1._1, col1._2))
                        </li>
                    }
                </ol>
                <ol>
                    @titleCols.map { case (col1, col2) =>
                        <li>
                            @col2.map { t => @Html(sectionLink(t._1, t._2)) }.getOrElse("")
                        </li>
                    }
                </ol>
            </nav>
        </aside>


        <div>
            <h2 class="heading-large">Apply for funding</h2>

            <p>
                <a href="@controllers.routes.ApplicationController.showOrCreateForForm(applicationId)">Make an
                    application</a>
            </p>

            <p>
                <a href="@controllers.routes.OpportunityController.showGuidancePage(opportunity.id)">Guidance on
                    seminars</a>
            </p>
        </div>

        @currentSection.map { s =>

            @if(sectionNumber == 1) {

        <div class="panel panel-border-narrow">
            <aside role="complementary" class="notice">
                <div class="column-half">
                    <dl>
                        <dt class="heading-small">Deadline</dt>
                        <dd>Apply any time</dd>
                    </dl>
                </div>

                <div class="column-half">
                    <dl>
                        <dt class="heading-small">Value</dt>
                        <dd>&pound;@opportunity.value.amount @opportunity.value.unit</dd>
                    </dl>
                </div>
            </aside>
        </div>

            }
        <article>
            <h2 class="heading-large">@s.sectionNumber. @s.title</h2>
            @s.paragraphs.map { p =>
                <p class="text">@p</p>
            }
        </article>

        <footer class="grid-row">
            <nav role="navigation" class="page-navigation">
                @prevSection.map { s =>
                <div class="column-half previous">
                    <span class="arrow-button"></span>
                    <span class="link">
                        <a href="@controllers.routes.OpportunityController.showOpportunity(opportunity.id, Some(s.sectionNumber))"
                           title="Navigate to the previous page."
                           rel="previous">
                            <span class="page-navigation-previous">Previous page</span>
                            <span class="page-navigation-description">@s.title</span>
                        </a>
                    </span>
                </div>
                }
                @nextSection.map { s =>
                <div class="column-half next">
                    <span class="arrow-button"></span>
                    <span class="link">
                        <a href="@controllers.routes.OpportunityController.showOpportunity(opportunity.id, Some(s.sectionNumber))"
                           title="Navigate to the next page."
                           rel="next">
                            <span class="page-navigation-next">Next page</span>
                            <span class="page-navigation-description">@s.title</span>
                        </a>
                    </span>
                </div>
                }
            </nav>
        </footer>
    </div>


    <div class="column-third">
        <aside role="complementary">
            <hr class="hr-blue">
            <h3 class="bold-small">Supporting information</h3>
            <ul class="list">
                <li>
                    <a href="@controllers.routes.OpportunityController.showGuidancePage(opportunity.id)">Guidance on
                        seminars</a>
                </li>
            </ul>
        </aside>
    </div>

</div>
        }

}