@import models._
@import partials._

@main(s"Create new opportunity - RIFS", backLink=Some(BackLink("Return to my dashboard", routes.StartPageController.startPage().url))) {
    <!-- main content -->
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Create a new opportunity
            </h1>

            <div>
                <p class="lede">What do you want to do?</p>
                <form>
                    <div class="form-group">
                        <fieldset class="">
                            <legend class="visually-hidden">
                                You can create an entirely new opportunity or reuse an existing one.</legend>

                            <label class="block-label font-normal selection-button-radio" for="opportunity-reuse">
                                <input id="opportunity-reuse" name="opportunity-radio-group" type="radio" value="reuse">
                                Reuse an existing opportunity
                            </label>

                            <label class="block-label font-normal selection-button-radio" for="opportunity-new">
                                <input id="opportunity-new" name="opportunity-radio-group" type="radio" value="new">
                                Create new opportunity
                            </label>
                        </fieldset>
                    </div>

                    <div class="rifs-form-buttons">
                        <input type="submit" name="" class="button button--start" value="Continue">
                        <input type="submit" name="" class="button--link-style" value="Cancel"/>
                    </div>

                </form>
            </div>
        </div>

        <div id="support-column" class="column-third">
            <aside role="complementary">
                <hr class="hr-blue">
                <h3 class="heading-medium">Support</h3>
                <ul class="list spacious">

                    <li>
                        <a href="">Guidance for Portfolio Managers</a>
                    </li>

                </ul>
            </aside>
        </div>
    </div>
}