@(os: Seq[Opportunity])

@main("Opportunity list - RIFS", backLink=Some(BackLink("Create new opportunity", controllers.routes.OpportunityController.createOpportunity().url))) {
    <div>
        <h1 class="heading-xlarge">Opportunity library</h1>

        <p class="lede">You can open and reuse any template in this library.</p>

        <table class="spacious mobile-one-column">
            <thead>
                <tr>
                    <th>Ref.</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Structure</th>
                    <th role="presentation">
                </tr>
            </thead>
            <tbody>
                @for((o, i) <- os.zipWithIndex) {
                    <tr>
                        <td data-label="Ref.">@("%04d".format(o.id.id))</td>
                        <td data-label="Title"><a href="@controllers.routes.OpportunityController.wip(routes.OpportunityController.showOpportunityLibrary.url).url">@o.title</a></td>
                        <td data-label="Status">Open</td>
                        <td data-label="Structure">Responsive, claim, FEC</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="rifs-form-buttons">
            <p>
                <a href="@controllers.routes.OpportunityController.createOpportunity()"
                class="button"
                >Cancel</a>
            </p>
        </div>

    </div>
}


