@(os: Seq[Opportunity])

@main("Opportunity list - RIFS") {
    <div>
        <h1 class="heading-xlarge">Open opportunities</h1>

        <p class="lede">Links to all open opportunities in RIFS</p>

        <table class="spacious">
            <tr>
                <th role="presentation">Opportunity title</th>
            </tr>
            @for((o,i) <- os.zipWithIndex) {
                <tr><td>@{i+1}. <a href="/opportunity/@o.id.id">@o.title</a></td></tr>
            }
        </table>

    </div>
}

