@(os: Seq[Opportunity])

@main("Opportunity list - RIFS", backLink=Some(BackLink("Create new opportunity", controllers.routes.OpportunityController.createOpportunity().url))) {
    <div>
        <h1 class="heading-xlarge">Opportunity library</h1>

        <p class="lede">You can open and reuse any template in this library.</p>

        <table class="spacious">
            <tr><th>Ref.</th><th>Title</th><th>Status</th><th>Structure</th>
                <th role="presentation">
            </tr>
            @for((o,i) <- os.zipWithIndex) {
                <tr><td>@o.id.id</td>
                <td><a href="/opportunity/preview/@o.id.id">@o.title</a></td>
                <td>Open</td>
                <td>Responsive, claim, FEC</td>
                </tr>
            }
        </table>

        <div class="rifs-form-buttons">
            <p>
                <a href="@controllers.routes.OpportunityController.createOpportunity()"
                class="button"
                >Cancel</a>
            </p>
        </div>

    </div>
}


