@import play.api.data.Form


@(form: Form[UserData])

@proposition = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <span class="header__menu__proposition-name">Digital Apprenticeship Service</span>

                <ul id="proposition-links" class="header__menu__proposition-links">
                </ul>
            </nav>
        </div>
    </div>
}

@main("Sign in to DAS", insideHeader = proposition) {
    <div>
        <article class="content__body">
            <h1>Sign in</h1>
            <p>Enter your DAS User credentials to sign in.</p>
            <form method="post" action="">
                <div id="errors">
                @form.errors.map { e => <div>@e.messages.head</div> }
                </div>
                <fieldset class="form-field-group">
                    <div class="form-field">
                        <label class="label--inline" for="username">User name:</label>
                        <input type="text" id="username" name="username" required />
                    </div>
                    <div class="form-field">
                        <label class="label--inline" for="password">Password:</label>
                        <input type="password" id="password" name="password" required/>
                    </div>
                    <div class="form-field">
                        <input class="button" type="submit" value="Login"/>
                    </div>
                </fieldset>
            </form>
        </article>
    </div>
}
