@()

@main(s"Research and Innovation Funding Service - RIFS") {
<div class="grid-row">
    <div class="column-full text">

        <h1 class="heading-xlarge"> What is your role? </h1>

        <p class="lede">
            Choose a role to start your journey
        </p>


        <p>
            <a href="/opportunities"> I am an applicant </a>
        </p>

        <p>
            <a href="/opportunities/new"> I am a portfolio manager </a>
        </p>

        <hr>

        <p>
            <a href="/reset">[reset]</a>
        </p>
    </div>
</div>
}
