@(
app: Application,
section: Option[ApplicationSection],
formSection: ApplicationFormSection,
opportunity: Opportunity,
fieldRules: Map[String, Seq[forms.FieldRule]],
errs: Map[String, cats.data.NonEmptyList[String]]
)

@import play.api.libs.json.JsString

@valueFor(key: String) = @{
section.flatMap {
_.answers.value.get(key).map {
case JsString(s) => s
case _ => ""
}
}
}

@formatId(id: Long) = @{
f"RIFS$id%05d"
}

@rulesFor(key: String) = @{
fieldRules.getOrElse(key, Seq())
}

@main(s"Event title") {
<div class="grid-row">
    <div class="column-two-thirds">
        <p>
        <a href="@controllers.routes.ApplicationController.show(app.id)">&lt; Return to application overview</a>
        </p>
        <h2>@formatId(opportunity.id.id): @opportunity.title</h2>

        <h1>@formSection.title</h1>

        <form method="POST" action="@controllers.routes.ApplicationController.postSection(app.id, formSection.sectionNumber)">
            <div>
                <label for="title">What is your event called?</label>
                @errs.get("title").map { es =>
                    @es.toList.map { e =>
                        <p>@e</p>
                    }
                }
                <input type="text" id="title" class="form-control" title="title" name="title" value='@valueFor("title")'>
            </div>
            @section.flatMap(_.completedAtText).getOrElse(<input type="submit" name="_complete_button" class="button--link-style" value="Mark question as complete"/>)
            &nbsp&nbsp
            <span class="inline" id="title_help_text">@rulesFor("title").flatMap(_.helpText(valueFor("title").getOrElse("")))</span>
            <div class="rifs-form-buttons">
                <p>
                    <input type="submit" name="_save_button" class="button button-start" value="Save and continue">
                <input type="submit" name="_preview_button" class="button--link-style" value="Preview this page"/>
                </p>
            </div>
        </form>
    </div>

    <div class="column-third">
        <hr class="hr-blue">
        <h3 class="bold-small">Supporting information</h3>
        <ul class="list">
            <li>
                <a href="@controllers.routes.OpportunityController.showGuidancePage(opportunity.id)">Guidance on seminars</a>
            </li>
            <li>
                <a href="@controllers.routes.OpportunityController.showOpportunity(opportunity.id, None)">View opportunity details</a>
            </li>
        </ul>
        <div class="rifs-step-panel">
            <p class="rifs-step-content">
                <span class="bold-xlarge"> 0/6 </span>
                <br>
                Sections complete
            </p>
        </div>
    </div>
</div>
}