@(
        app: Application,
        section: Option[ApplicationSection],
        applicationForm: ApplicationForm,
        formSection: ApplicationFormSection,
        opportunity: Opportunity,
        fieldRules: Map[String, Seq[forms.FieldRule]]
)

@import play.api.libs.json.JsString

@valueFor(key: String) = @{
    section.flatMap {
        _.answers.value.get(key).map {
            case JsString(s) => s
            case _ => ""
        }
    }
}

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}

@rulesFor(key: String) = @{
    fieldRules.getOrElse(key, Seq())
}

@main(s"Event title") {
    <div class="grid-row">
        <a href="@controllers.routes.ApplicationController.show(app.id)">&lt; Return to application overview</a>
        <p></p>
        <h2>@formatId(opportunity.id.id): @opportunity.title</h2>

        <h1>@formSection.title</h1>

        <form method="POST" action="@controllers.routes.ApplicationController.postSection(app.id, formSection.sectionNumber)">
            <fieldset>
                <label for="title">What is your event called?</label>
                <input type="text" title="title" name="title" value='@valueFor("title")'>
            </fieldset>
            @section.flatMap(_.completedAtText).getOrElse(<input type="submit" name="_complete_button" class="button--link-style" value="Mark question as complete"/>)
            &nbsp&nbsp
            @valueFor("title").map(value => rulesFor("title").flatMap(_.helpText(value)))
            <div>
                <input type="submit" name="_save_button" class="button--get-started" value="Save and continue">
                <input type="submit" name="_preview_button" class="button--link-style" value="Preview this page"/>
            </div>
        </form>
    </div>
}