@proposition = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <span class="header__menu__proposition-name">Research and Innovation Funding Service</span>

            </nav>
        </div>
    </div>
}

@main("Wip Page", insideHeader = proposition) {
    <div>
        <a href="javascript:history.back();">&lt; Go Back</a>
        <br/><br/>
        <h1>Work in Progress</h1>
        <br/><br/>
    </div>
}