@(field: forms.CostItemField,
        questions: Map[String, Question],
        answers: Map[String, String],
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])

@errors = @{
    errs.filter(p => p.path == field.name || p.path.startsWith(s"${field.name}."))
}

@errorClass = @{
    if(errors.nonEmpty) "error" else ""
}

@questions.get(field.name).map { q => <p class="question">@q.text</p>
@q.longDescription.map { desc => @desc.split("\n").map { text => <p>@text</p> } }
    <details>
        <summary role="button"><span class="summary">Help with this section</span></summary>
        <div class="panel panel-border-narrow">@for(line <- q.helpText.getOrElse("").split("\n")) {
            <p>@line</p>
        }</div>
    </details>
}

<div class='form-group @errorClass'>
    @errors.map { e =>
        <span class="error-message">@e.err</span>
    }

    @field.itemNameField.renderFormInput(questions, answers, errs, hints)
    @field.costField.renderFormInput(questions, answers, errs, hints)
    @field.percentageField.renderFormInput(questions, answers, errs, hints)
    @field.justificationField.renderFormInput(questions, answers, errs, hints)
</div>


