@(field: forms.CurrencyField,
        questions: Map[String, Question],
        answers: Map[String, String],
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])

@errors = @{
    errs.filter(p => p.path == field.name || p.path.startsWith(s"${field.name}."))
}

@errorClass = @{if(errors.nonEmpty) "error" else ""}

<div class='form-group @errorClass'>
    @questions.get(field.name).map { q => <p class="question">@q.text</p> }
    @errors.map { e =>
        <span class="error-message">@e.err</span>
    }
    <label for="@field.name">@field.label</label>
    <div class="input-icon">
        <i>&pound;</i>
        <input type="text" id="@field.name" class='form-control text-field currency' title="@field.name" name="@field.name" value='@answers.get(field.name)'>
    </div>
    <div class="inline right-align hint-text" id="@(field.name)_hint_text">@hints.find(_.path == field.name).map(_.hint)</div>
</div>