@(field: forms.DateField, questions: Map[String, Question], answers: Map[String, String], errs: Seq[forms.validation.FieldError])

@errors = @{
    errs.filter(p => p.path == field.name || p.path.startsWith(s"${field.name}."))
}

@errorClass = @{if(errors.nonEmpty) "error" else ""}
@invalidTrueFalse = @{if(errors.nonEmpty) "true" else "false"}

<div class='form-group @errorClass'>
    @questions.get(field.name).map { q => <p class="question">@q.text</p> }
    @errors.map { e =>
        <span class="error-message" role="alert">@e.err</span>
    }

    <fieldset>
        <legend>
            <span class="visually-hidden">Enter the day, month and year as numeric digits</span>
            <span class="form-hint" id="@(field.name)_hint_text">For example 28 11 2017</span>
        </legend>
        <div class='date-selector'>
            <div>
                <label for="@(field.name).day">Day</label>
                <input type="text" title="Day" id="@(field.name).day" name="@(field.name).day" value='@answers.get(s"${field.name}.day")' class="form-control" maxlength="2" pattern="[0-9]*">
            </div>
            <div>
                <label for="@(field.name).month">Month</label>
                <input type="text" title="Month" id="@(field.name).month" name="@(field.name).month" value='@answers.get(s"${field.name}.month")' class="form-control" maxlength="2" pattern="[0-9]*">
            </div>
            <div>
                <label for="@(field.name).year">Year</label>
                <input type="text" title="4 digit year" id="@(field.name).year" name="@(field.name).year" value='@answers.get(s"${field.name}.year")' class="form-control year" maxlength="4" pattern="[0-9]*">
            </div>
        </div>

    </fieldset>

</div>

