@(field: forms.DateTimeRangeField,
        questions:Map[String, Question],
        answers: play.api.libs.json.JsObject,
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])

@errors = @{
    errs.filter(p => p.path == field.name)
}

@errors.map { e =>
    <span class="error-message" role="alert">@e.err</span>
}

@yesChecked = @{
    if (JsonHelpers.flatten(answers).get("deadlines.endDateProvided").contains("yes")) "checked" else ""
}

@noChecked = @{
    if (!JsonHelpers.flatten(answers).get("deadlines.endDateProvided").contains("yes")) "checked" else ""
}

@field.startDateField.renderFormInput(questions, answers, errs, hints)

@if(!field.isEndDateMandatory)  {
    <input type="radio" name="@(field.name).endDateProvided" value="yes" @yesChecked >Yes
    <input type="radio" name="@(field.name).endDateProvided" value="no" @noChecked >No
}

@field.endDateField.renderFormInput(questions, answers, errs, hints)
