@(field: forms.DateTimeRangeField,
        app: ApplicationSectionDetail,
        answers: play.api.libs.json.JsObject,
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])

@field.startDateField.renderFormInput(app, answers, errs, hints)

@if(!field.isEndDateMandatory)  {
    <input type="radio" name="has_closing_date" value="yes">Yes
    <input type="radio" name="has_closing_date" value="no" selected>No
} else {}
@field.endDateField.renderFormInput(app, answers, errs, hints)
