@(field: forms.DateField)

@field.question.map { q => <p class="question">@q</p> }
@field.errs.map { es =>
    <div>
        @es.toList.map { e =>
            <p>@e</p>
        }
    </div>
}
<div class="date-selector">
    <div>
        <label for="@(field.name)__day">Day</label>
        <input type="text" title="@(field.name)__day" id="@(field.name)__day" name="@(field.name)__day" value='@field.value.map(_.day)' class="form-control">
    </div>
    <div>
        <label for="@(field.name)__month">Month</label>
        <input type="text" title="@(field.name)__month" id="@(field.name)__month" name="@(field.name)__month" value='@field.value.map(_.month)' class="form-control">
    </div>
    <div>
        <label for="@(field.name)__year">Year</label>
        <input type="text" title="@(field.name)__year" id="@(field.name)__year" name="@(field.name)__year" value='@field.value.map(_.year)' class="form-control year">
    </div>
</div>
<div id="title_help_text">For example 31 3 2017</div>


