@(field: forms.TextAreaField)
    @import play.api.libs.json.JsString

@field.question.map { q => <h4>@q.text</h4>
                           <Div>@q.longDescription</Div>
                           <details>
                               <summary>Help</summary>
                               @q.helpText
                           </details>
                           }
@field.errs.map { es =>
    <div>
        @es.toList.map { e =>
            <p>@e</p>
        }
    </div>
}
<div>
    <label for="@field.name">@field.label</label>
    <textarea type="" id="@field.name" class="form-control" title="@field.name" name="@field.name" value='@field.value' >@field.value</textarea>
</div>
<div class="inline" id="title_help_text">@field.rules.flatMap(_.helpText(JsString(field.value.getOrElse(""))))</div>