@(field: forms.TextAreaField,
        questions: Map[String, Question],
        answers: Map[String, String],
        errs: Seq[forms.validation.FieldError],
        hints: Seq[forms.validation.FieldHint])


@errors = @{
    errs.filter(p => p.path == field.name || p.path.startsWith(s"${field.name}."))
}

@errorClass = @{if(errors.nonEmpty) "error" else ""}
@invalidTrueFalse = @{if(errors.nonEmpty) "true" else "false"}

@questions.get(field.name).map { q => <label for="@field.name" class="question">@q.text</label>
    <p class="text">@q.longDescription</p>
    <details>
        <summary role="button"><span class="summary">Help with this section</span></summary>
        <div class="panel panel-border-narrow">@for(line <- q.helpText.getOrElse("").split("\n")) {
            <p>@line</p>
        }</div>
    </details>
}

<div class='form-group @errorClass'>
    @errors.map { e =>
        <span class="error-message" role="alert">@e.err</span>
    }

    <label for="@field.name">@field.label</label>
    <textarea id="@field.name" class="form-control textarea-resize" title="@field.name" name="@field.name">@answers.get(field.name)</textarea>
    <div class="inline right-align hint-text" id="@(field.name)_hint_text">
        @for(hint <- hints.find(_.path == field.name)) {
            <span class="js__hint" data-for="@field.name" data-rule="@hint.matchingJsType" data-ruleconfig="@hint.matchingJsConfig">@hint.hint</span>
        }
    </div>
</div>
