@(field: forms.TextField)
    @import play.api.libs.json.JsString

<div class='form-group @{if (field.errs.size > 0) "error"}'>
    @field.question.map { q => <p class="question">@q.text</p> }
    @field.errs.map { es =>
        @es.toList.map { e =>
            <span class="error-message">@e</span>
        }
    }
    <label for="@field.name">@field.label</label>
    <input type="text" id="@field.name" class='form-control text-field @{if(field.isNumeric) "number"}' title="@field.name" name="@field.name" value='@field.value'>
    <div class="inline right-align" id="title_help_text">@field.rules.flatMap(_.helpText(JsString(field.value.getOrElse(""))))</div>
</div>

