// Form elements
.form-group {
  margin-bottom: 2.5em;
}

label {
  display: block;
  font-weight: bold;
}

details {
  margin-bottom: 1.5em;
}

input.text-field,
textarea.form-control {
  display: block;
  padding: 6px;
  width: 100%;
}

textarea.form-control {
  height: 10em;
}

input.text-field.number {
  text-align: right;
  width: 3em;
}

input.text-field.currency {
  text-align: right;
  width: 6em;
}

.hint-text {
  margin-top: .5em;
}

.date-selector {
  @extend %contain-floats;
  margin-bottom: .5em;

  input {
    display: block;
    padding: 6px;
    text-align: right;
    width: 3em;

    .year {
      width: 4em;
    }
  }
}

.date-selector>div {
  float: left;
  margin-right: 1.5em;
}

.question {
  margin: 0 0 1.5em;
}

.textarea-resize {
  overflow: auto;
  resize: vertical;
}
