// GOV.UK overrides
hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

#footer {
  border-top: solid 10px $mainstream-brand;
}

//.breadcrumbs ol,
//.breadcrumbs ul {
//  margin: 0;
//  padding: 0;
//}

.error .form-control {
  // support for nested controls
  border: 4px solid $error-colour;
}
