// Panels

.rifs-border-narrow {
  border-color: $black;
  border-left-width: 5px;
}

.rifs-panel {
  background-color: $panel-colour;
  margin-top: 15px;

  dl {
    padding-top: 0.75em;
    padding-bottom: 1em;
  }

  .rifs-form-buttons {
    margin-top: 1em;
    margin-bottom: 1em;
  }

}

.rifs-error-panel {
  background-color: lighten($red, 50%);
  border-color: $red;
  border-left-width: 5px;
}

.rifs-confirmation-container {
  background-color: $turquoise;
  color: $white;
  margin-bottom: 2em;
  margin-top: 1.5em;
  padding: 1.5em;
  text-align: center;
}
