table.spacious {
  margin-bottom: 2em;
}

table.spacious td {
  padding-bottom: 15px;
  padding-top: 15px;
}

.table-style-heading-small {
  // Small bold heading with a line underneath (See: showOpportunities.scala.html)
  @extend .heading-small;
  margin-bottom: 0;
}

table.spacious th {
  border-bottom: solid 2px $black;
}

table.spacious tfoot > tr > td {
  border-bottom: 2px solid $black;
  border-top: 2px solid $black;
}

.rifs-costs-table {
  margin-bottom: 2em;

  td {
    border-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .line td {
    border-bottom: 1px solid $black;
  }

  thead {
    border-bottom: 2px solid $black;
  }

  tfoot {
    border-bottom: 2px solid $black;
    border-top: 2px solid $black;
  }
}

.footer-two-light td {
  border-bottom: 1px solid $black !important;
}

@media screen and (max-width: 560px) {
  .mobile-one-column {
    table, thead, tbody, th, td, tr { display: block; }

    // Visually hide table headers, but leave them in for accessibility
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    td {
      // Behave like a row
      position: relative;
      padding-left: 37%;
    }

    td:before {
      // This is the label
      position: absolute;
      // mimic some padding, set the Label text flush left (after the gutter)
      top: 15px;
      left: 0;
      width: 33.33%;
      padding-right: 2em;
      white-space: nowrap;
      font-weight: bold;
      content: ' 'attr(data-label)' ';
    }

    tr:not(:last-of-type) {
      border-bottom: 2px solid $black;
    }

  }

}

