@(field: forms.CostListField, costs: Seq[forms.validation.CostItem])

@formatId(id: Long) = @{
    f"RIFS$id%05d"
}


<table class="rifs-costs-table">
    <thead>
        <tr>
            <th>Item</th>
            <th class="align-right">Total cost &pound;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Total Requested £</th>
            <th class="currency">999.99</th>
        </tr>
    </tfoot>
    <tbody>
    @costs.map { cost =>
        <tr>
            <td class="bold-small">@cost.itemName</td>
            <td class="currency">@cost.costText</td>
        </tr>
        <tr class="line">
            <td>@cost.justification</td>
            <td>&nbsp;</td>
        </tr>
    }
    </tbody>
</table>


