@(costs: Seq[forms.validation.CostItem])

<table class="rifs-costs-table">
    <thead>
        <tr>
            <th>Item</th>
            <th class="align-right">Total cost &pound;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Total Requested £</th>
            <th class="currency">@costs.map(_.cost).sum.setScale(2, BigDecimal.RoundingMode.HALF_UP)</th>
        </tr>
    </tfoot>
    <tbody>
    @costs.sortBy(_.itemNumber).map { cost =>
        <tr>
            <td class="bold-small">@cost.itemName</td>
            <td class="currency">@cost.costText</td>
        </tr>
        <tr class="line">
            <td>@cost.justification</td>
            <td>&nbsp;</td>
        </tr>
    }
    </tbody>
</table>


