@(field: forms.DateWithDaysField, startDate: String, days: Int, endDate: String, accessibleStartDate: String, accessibleEndDate:String)

<div class="duration-preview">
    <div class="column-third definition-list">
        <dl>
            <dt class="heading-small">Start date</dt>
            <dd aria-label="@accessibleStartDate">@startDate</dd>
        </dl>
    </div>

    <div class="column-third definition-list">
        <dl>
            <dt class="heading-small">Days duration</dt>
            <dd>@days</dd>
        </dl>
    </div>

    <div class="column-third definition-list">
        <dl>
            <dt class="heading-small">End date</dt>
            <dd aria-label="@accessibleEndDate">@endDate</dd>
        </dl>
    </div>
</div>


