@(title: Option[String], bodyClasses: Option[String], htmlLang: Option[String] = None)(head:Html = Html(""), bodyStart:Html = Html(""), bodyEnd:Html = Html(""), insideHeader:Html = Html(""), afterHeader:Html = Html(""), footerTop:Html = Html(""), footerLinks:Html = Html(""), headerClass:Html = Html(""), propositionHeader:Html = Html(""))(content:Html)
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="@htmlLang.getOrElse("en")"><![endif]-->
<!--[if gt IE 8]><!--><html lang="@htmlLang.getOrElse("en")"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <title>@title.getOrElse("GOV.UK - The best place to find government services and information")</title>
    <!--[if gt IE 8]><!-->
    <link href="@routes.Assets.at("stylesheets/govuk-template.css")" media="screen" rel="stylesheet" />
    <!--<![endif]-->

    <!--[if IE 6]><link href="@routes.Assets.at("stylesheets/govuk-template-ie6.css")" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="@routes.Assets.at("stylesheets/govuk-template-ie7.css")" media="screen" rel="stylesheet" /><![endif]-->

    <!--[if IE 8]><link href="@routes.Assets.at("stylesheets/govuk-template-ie8.css")" media="screen" rel="stylesheet" /><![endif]-->


    <link href="@routes.Assets.at("stylesheets/govuk-template-print.css")" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="@routes.Assets.at("stylesheets/fonts-ie8.css")" media="all" rel="stylesheet" /><![endif]-->
    <!--[if lt IE 9]><script src="@routes.Assets.at("javascripts/ie.js")"></script><![endif]-->

    <!--[if gte IE 9]><!-->
      <link href="@routes.Assets.at("stylesheets/fonts.css")" media="all" rel="stylesheet" />
    <!--<![endif]-->


    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")" type="image/x-icon" />
    <link rel="mask-icon" href="@routes.Assets.at("images/gov.uk_logotype_crown.svg")" color="#0b0c0c">

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@routes.Assets.at("images/apple-touch-icon-152x152.png")">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@routes.Assets.at("images/apple-touch-icon-120x120.png")">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@routes.Assets.at("images/apple-touch-icon-76x76.png")">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("images/apple-touch-icon-60x60.png")">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="@routes.Assets.at("images/opengraph-image.png")">

    <link href="@routes.Assets.at("stylesheets/application.css")" media="all" rel="stylesheet" />
    <link href="@routes.Assets.at("stylesheets/application-print.css")" media="print" rel="stylesheet" />
    @head
  </head>

  <body class="@bodyClasses.getOrElse("")">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    @bodyStart

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">

      <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>

    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="" id="logo" class="content">
              <img src="@routes.Assets.at("images/logo-36x32.png")" width="36" height="32" alt="" style="visibility: visible"> RIFS
            </a>
          </div>
        </div>
        <div class="header-proposition">
          <div class="content">
            <nav id="proposition-menu">
              <a href="/" title="" id="proposition-name">
                Research and Innovation Funding Service
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!--end header-->


    @afterHeader

    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar"></div>
      </div>
    </div>
    <!--end global-header-bar-->

    @content



  <footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">


      <div class="footer-meta">
        <div class="footer-meta-inner">


          <div class="open-government-licence">
            <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

            <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                                                     rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="global-app-error" class="app-error hidden"></div>

  <script src="@routes.Assets.at("javascripts/vendor/jquery/jquery-1.11.3.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/govuk/jquery.tabs.js")"></script>
  <script src="@routes.Assets.at("javascripts/govuk/jquery.history.js")"></script>
  <script src="@routes.Assets.at("javascripts/govuk/govuk-template.js")"></script>
  <script src="@routes.Assets.at("javascripts/govuk/details.polyfill.js")"></script>
  <script src="@routes.Assets.at("javascripts/govuk/selection-buttons.js")"></script>
  <script src="@routes.Assets.at("javascripts/application-rules.js")"></script>
  <script>
          if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled',
              '');
  </script>
  </body>

</html>