.ax_default {
    font-family:'ArialMT', 'Arial';
    font-weight:400;
    font-style:normal;
    font-size:13px;
    color:#333333;
    text-align:center;
    line-height:normal;
}
.h1 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:48px;
    line-height:normal;
}
.h2 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:36px;
    text-align:left;
    line-height:48px;
}
.title {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:36px;
}
.h3 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:24px;
    line-height:33px;
}
.paragraph {
    font-family:'Noto Sans  Regular', 'Noto Sans ';
    font-weight:400;
    font-style:normal;
    font-size:24px;
    color:#000000;
    line-height:32px;
}
.cta_label {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
    color:#FFFFFF;
}
.label1 {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
}
.link1_ {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
    color:#005EA5;
}
.h4 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:19px;
    line-height:21px;
}
.body_ {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
    line-height:24px;
}
.body_grey {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
    color:#6F7777;
}
.small_text {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:15px;
}
.shape {
}
.box_1 {
}
.box_3 {
}
.image {
    color:#000000;
}
.placeholder {
}
.heading_1 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:48px;
    text-align:left;
    line-height:65px;
}
.heading_2 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:36px;
    text-align:left;
    line-height:38px;
}
.heading_3 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:19px;
    text-align:left;
    line-height:21px;
}
.heading_4 {
    font-family:'NotoSans-Bold', 'Noto Sans Bold', 'Noto Sans';
    font-weight:700;
    font-style:normal;
    font-size:19px;
    text-align:left;
    line-height:21px;
}
.heading_5 {
    font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight:700;
    font-style:normal;
    text-align:left;
}
.heading_6 {
    font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight:700;
    font-style:normal;
    font-size:10px;
    text-align:left;
}
.label {
    font-size:14px;
    text-align:left;
}
.paragraph1 {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:36px;
    text-align:left;
    line-height:26px;
}
.text_link {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
}
.text_link_mouse_over {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    color:#005EA5;
}
.text_link_mouse_down {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
}
.line {
}
.text_field {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
    color:#000000;
    text-align:left;
}
.text_area {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    color:#000000;
    text-align:left;
}
.droplist {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
    color:#000000;
    text-align:left;
}
.checkbox {
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    font-size:19px;
    text-align:left;
}
.radio_button {
    text-align:left;
}
.flow_shape {
}
.table {
}
.table_cell {
}
.horizontal_line {
}
.vertical_line {
}
.connector {
}

body {
    margin:0px;
    background-image:none;
    position:relative;
    left:-15px;
    width:742px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#base {
    position:absolute;
    z-index:0;
}
#u0_div {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    height:65px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-align:left;
}
#u0 {
    position:absolute;
    left:15px;
    top:76px;
    width:742px;
    height:65px;
    text-align:left;
}
#u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    word-wrap:break-word;
}
#u2_div {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    height:32px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    color:#333333;
    text-align:left;
}
#u2 {
    position:absolute;
    left:15px;
    top:166px;
    width:742px;
    height:32px;
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    color:#333333;
    text-align:left;
}
#u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    word-wrap:break-word;
}
#u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
}
#u5_div {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    height:33px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    color:#6F777B;
    text-align:left;
}
#u5 {
    position:absolute;
    left:15px;
    top:49px;
    width:742px;
    height:33px;
    font-family:'NotoSans', 'Noto Sans';
    font-weight:400;
    font-style:normal;
    color:#6F777B;
    text-align:left;
}
#u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    word-wrap:break-word;
}
#u7_div {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-align:left;
}
#u7 {
    position:absolute;
    left:15px;
    top:76px;
    width:742px;
    height:16px;
    text-align:left;
}
#u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    visibility:hidden;
    word-wrap:break-word;
}
#u9_div {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    height:26px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-align:left;
    line-height:26px;
}
#u9 {
    position:absolute;
    left:15px;
    top:295px;
    width:742px;
    height:26px;
    text-align:left;
    line-height:26px;
}
#u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    word-wrap:break-word;
}
#u11_div {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u11 {
    position:absolute;
    left:15px;
    top:329px;
    width:121px;
    height:16px;
}
#u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:117px;
    white-space:nowrap;
}
#u13_div {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    height:26px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    text-align:left;
    line-height:26px;
}
#u13 {
    position:absolute;
    left:15px;
    top:386px;
    width:742px;
    height:26px;
    text-align:left;
    line-height:26px;
}
#u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:742px;
    word-wrap:break-word;
}
#u15_div {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#u15 {
    position:absolute;
    left:15px;
    top:420px;
    width:96px;
    height:16px;
}
#u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    white-space:nowrap;
}

