@(
        appForm: ApplicationForm,
        overview: ApplicationOverview,
        sections: Seq[ApplicationSection],
        answers: Map[Int, Seq[forms.Field]]
)

<article>
    @appForm.sections.sortBy(_.sectionNumber).map { formSection =>
        @sections.find(_.sectionNumber == formSection.sectionNumber).map { section =>
            @appSectionPreview(formSection, answers.getOrElse(section.sectionNumber, Seq()), JsonHelpers.flatten("", section.answers))
        }.getOrElse {
            <div>
                <b>@formSection.sectionNumber. @formSection.title</b>
            </div>
            <p>You have not supplied any answers for this section</p>
        }
    }

<p class="rifs-form-buttons">
    <a href="@controllers.routes.ApplicationController.show(overview.id)" class="button">Close</a>
</p>
</article>