@(
        sectionDetail: ApplicationSectionDetail
)

@sectionDetail.section.map { section =>
    <div>
        <h2 class="heading-medium">@sectionDetail.formSection.sectionNumber.num. @sectionDetail.formSection.title </h2>
        @sectionDetail.formSection.fields.map(_.renderPreview(sectionDetail.formSection.questionMap, section.answers))
    </div>
}.getOrElse {
    <div>
        <p class="heading-medium">@sectionDetail.formSection.sectionNumber.num. @sectionDetail.formSection.title</p>
        <p class="text">You have not supplied any answers for this section.</p>
    </div>
}