@(overview: ApplicationOverview, form: ApplicationForm)
<hr class="hr-blue">
<h2 class="heading-medium no-top-margin">Support</h2>
<ul class="list spacious">
    <li>
        <a href="@controllers.routes.OpportunityController.showGuidancePage(form.opportunityId)" target="_blank">Guidance on seminars</a>
    </li>
    <li>
        <a href="@controllers.routes.OpportunityController.showOpportunity(form.opportunityId, None)">View opportunity details</a>
    </li>
</ul>
<div class="rifs-step-panel">
    <p class="rifs-step-content">
        <span class="bold-xlarge">@overview.sections.count(_.status == "Completed")</span>
        <span class="bold-xlarge" aria-label="of">/</span>
        <span class="bold-xlarge">@form.sections.length </span>
        <br>
        Sections complete
    </p>
</div>