@(overview: ApplicationOverview, opportunity:Opportunity)
<hr class="hr-blue">
<h3 class="heading-medium no-top-margin">Support</h3>
<ul class="list spacious">
    <li>
        <a href="@controllers.routes.OpportunityController.showGuidancePage(opportunity.id)">Guidance on seminars</a>
    </li>
    <li>
        <a href="@controllers.routes.OpportunityController.showOpportunity(opportunity.id, None)">View opportunity details</a>
    </li>
</ul>
<div class="rifs-step-panel">
    <p class="rifs-step-content">
        <span class="bold-xlarge"> @overview.sections.filter(_.status =="Completed").length/@overview.sections.length </span>
        <br>
        Sections complete
    </p>
</div>